/* CSS FOR HOMEPAGE (index.html) */
#preloader{
    max-width: 80%;
    margin: 14% auto;
    justify-content: center;
    display: flex;
}

/* Carousel Container */
#carousel-home {
    max-height: 420px;
}

#carousel-home img {
    max-height: 420px;
}

/* Categories Grids */
#jewelries-cat {
    background-image: url('../images/jewelries-grid.jpg');
    background-size: cover;
    height: 450px;
}

#mens-clothing {
    background-image: url('../images/mens-grid.jpg');
    background-size: cover;
    height: 225px;
    margin-bottom: 10px;
}

#womens-clothing {
    background-image: url('../images/womens-grid.jpg');
    background-size: cover;
    height: 225px;
}

@media only screen and (max-width: 991px) {
    #jewelries-cat {
        background-size: cover;
        background-repeat: no-repeat;
        text-align: right;
    }
    
    #mens-clothing {
        background-size: cover;
        background-repeat: no-repeat;
    }
    
    #womens-clothing {
        background-size: cover;
        background-repeat: no-repeat;
        background-position: top right;
        text-align: right;
    }
}

/* Featured Products */
.card {
    background-color: rgba(255, 255, 255,0.8);
    margin: 15px 10px;
    transition: .6s ease;
  }
  
  .card:hover {
    transform: scale(1.02);
  }
  
  .card-block {
    padding: 10px;
 }
  
  .top-products {
    background-color: #fff;
    overflow: auto;
    white-space: nowrap;
  }
  
  ::-webkit-scrollbar {
      width: 0px;
      height: 0px;
      background: transparent;
  }
  
  div.top-products .card {
      display: inline-block;
      padding: 8px;
      text-decoration: none;
      height: auto; 
      width: 340px;
      /* max-height: 370px; */
      text-align: center;
      vertical-align: top;
    }

  div.top-products img {
      margin: auto;
      text-align: center;
      width: 150px;
      height: 150px;
  }

  div.top-products .card p, div.top-products .card h5 {
      white-space: normal;
  }

  div.top-products .card h5 {
      font-size: 16px;
      height: 45px;
  }

  .product-desc {
      font-size: 12px;
      height: 150px;
  }


  /* About Section */
#about {
    background-color:#b3e0ff;
    min-height: 600px;
}

/* Contact Section */
.separator {
    display: block;
    width: 125px;
    border-top: 8px solid lightskyblue;
}

#contact {
    height: 600px;
}

@media only screen and (max-width: 991px) {
    #contact {
        height: 100%;
    }
}