/* Preloader */

/* .preloader-overlay {
    position: fixed;
    background-color: rgba(255,255,255,1);
    width: 100vw;
    height: 100vh;
    z-index: 999;
}

.s-container {
    height: 100%;
    display: flex;
}

.preloader-container {
    width: 300px;
    height: 300px;
    align-self: center;
    margin-left: auto;
    margin-right: auto;
}

.no-scroll {
    overflow: hidden;
}  */
#preloader{
    max-width: 80%;
    margin: 14% auto;
    justify-content: center;
    display: flex;
}
/* Header */
.logo {
    width: 100px;
}
.site-title {
    font-weight: 600;
    font-size: 1.3em;
    line-height: 100px;
    font-family: Montserrat;
}
/* General */

h1, h2, h3, h4, h5, h6 {
    font-family: Playfair Display, 'serif'; 
}

h1 {
    font-size: 24px;
}

body {
    font-family: Work Sans, 'sans-serif';
}

footer p {
    font-size: 14px;
}
/* Carousel Container */
#carousel-home {
    max-height: 420px;
}

#carousel-home img {
    max-height: 420px;
}

/* Cart Containers */
.cart-items {
    position: fixed;
    right: 0;
    z-index: 999;
    background-color: #F8F9FA;
    max-width: 280px;
    color: black;
    max-height: 350px;
    min-height: 300px;
    padding: 10px;
    display: none;
    border-radius: 0px 0px 12px 12px;
}

/* Featured Products TESTING */
.card {
    background-color: rgba(255, 255, 255,0.8);
    margin: 15px 10px;
    transition: .6s ease;
  }
  
  .card:hover {
    transform: scale(1.02);
  }
  
  .card-block {
    padding: 12px;
 }
  
  .top-products {
    background-color: #fff;
    overflow: auto;
    white-space: nowrap;
  }
  
  ::-webkit-scrollbar {
      width: 0px;
      height: 0px;
      background: transparent;
  }
  
  div.top-products .card {
      display: inline-block;
      padding: 14px;
      text-decoration: none;
      height: auto; 
      width: 300px;
      max-height: 370px;
      text-align: center;
    }

  div.top-products img {
      margin: auto;
      text-align: center;
      width: 150px;
      height: 150px;
  }

  /* About Section */
#about {
    background-color:#b3e0ff;
    width: 100vw;
    min-height: 600px;
}